<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><%= link_to 'Pairing Matrix', root_path, { :class=>"navbar-brand" } %></a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Home', root_path %></li>
          <li><a href="#">All Students</a></li>
          <li><a href="#">Blacklist</a></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Pairing History <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% @students.each do |student| %>
                <li>
                  <%= link_to student.name, student_partners_path(student) %>
                </li>
              <%end%>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- <div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target=".navbar-collapse" style="margin-top: 11px">
          <span class="icon-b<a href="#"></a>ar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="navbar-brand"> <%= link_to 'Pairing Matrix', root_path %> </p>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">

          <li class="active">
            <%= link_to 'All students', students_path %>
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Pairing History For:
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <% @students.each do |student| %>
                <li>
                  <%= link_to student.name, student_partners_path(student) %>
                </li>
                <%end%>
              </ul>
            </div>
          </li>
          <li><a href="#contact">Blacklist</a></li>
        </ul>
      </div>
    </div> -->
    <%= yield %>
</div>
</body>
</html>
