<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><%= link_to 'Pairing Matrix', root_path, { :class=>"navbar-brand" } %></a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li>
            <%= link_to 'All students', students_path %>
          </li>
          <% if current_student %>
            <li >
                <%= link_to 'Blacklist', student_blacklist_index_path(current_student) %>
            </li>
            <li>
                <%= link_to 'Pairing history', student_partners_path(current_student) %>
            </li>
          <% end %>
          <li>
            <% if current_student %>
              <%= link_to 'Sign out', destroy_student_session_path, method: :delete %>
            <% else %>
              <%= link_to 'Sign in', new_student_session_path %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <%= yield %>
</div>
</body>
</html>
